<div id="<%= dom_id immunization_schedule %>">
  <p>
    <strong>Vaxx name:</strong>
    <%= immunization_schedule.vaxx_name %>
  </p>

  <p>
    <strong>Scheduled date:</strong>
    <%= immunization_schedule.scheduled_date %>
  </p>

  <p>
    <strong>Child:</strong>
    <%= immunization_schedule.child.baby_name %>
  </p>

  <p>
    <strong>Medic:</strong>
    <%= immunization_schedule.medic.email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= immunization_schedule.status %>
  </p>

</div>
