<%= form_with(model: [@child, @immunization]) do |form| %>
  <% if @immunization.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@immunization.errors.count, "error") %> prohibited this immunization from being saved:</h2>

      <ul>
        <% @immunization.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :vax_name, style: "display: block" %>
    <%= form.collection_select :vax_name, Immunization::VACCINE_NAMES, :to_s, :to_s, prompt: "Select an immunization" %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
  <%= form.label :child_id, style: "display: block" %>
  <%= form.text_field :child_id, value: @child.baby_name, disabled: true %>
  <%= form.hidden_field :child_id, value: @child.id %>
</div>


  <div>
    <%= form.label :medic_id, style: "display: block" %>
    <%= form.text_field :medic_id, value: current_medic.email, disabled: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
