<div id="<%= dom_id immunization %>">
  <p>
    <strong>Vax name:</strong>
    <%= immunization.vax_name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= immunization.date %>
  </p>

  <p>
    <strong>Child:</strong>
    <%= immunization.child_id %>
  </p>

  <p>
    <strong>Medic:</strong>
    <%= immunization.medic_id %>
  </p>

</div>
